@model WebBlog.Models.Entity.QuestionnaireComponents.Question
@using WebBlog.Models.Entity.QuestionnaireComponents

<fieldset>
    <h2 class="question-title">@Model.Title</h2>
    @OutputQuestions(Model.Answer, Model.Title)
</fieldset>


@helper OutputQuestions(ICollection<Answer> answers, string name)
    {
        foreach (var ansver in answers)
        {
            <div class="label-input-wrap">
                @if (Model.Type == "radiobutton")
                {
                    <input type="radio" name="@name" value="@ansver.Id" />
                }
                @if (Model.Type == "checkbox")
                {
                    <input type="checkbox" name="@name" value="@ansver.Id" />
                }
                <label for="name">@ansver.Title</label>
            </div>
        }
}


