@model WebBlog.Models.Question

<fieldset>

    <h2 class="question-title">@Model.Title</h2>
    @*Add partrial*@
   
        @*foreach (var item in Model.Answers)
        {
            <div class="label-input-wrap">
                <input type="checkbox" name="name" value="" id="@i" />
                <label for="name">@item.AnswerName</label>

            </div>
        }*@
   
        @OutputQuestions(Model.Answers)
    

</fieldset>
@helper OutputQuestions(IEnumerable<WebBlog.Models.Answer> questions)
    {
    int i = 0;
        foreach (var item in Model.Answers)
        {
            <div class="label-input-wrap">
                @if (Model.Type == "radiobutton")
                {
                    <input type="radio" name="@Model.Name" value="@i"  />
                }
                @if (Model.Type == "checkbox")
                {
                    <input type="checkbox" name="@Model.Name" value="@i"  />
                }
                <label for="name">@item.AnswerName</label>
            </div>
            i++;
        }
}

